@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray;
    color: #e5e5e5;
}

* {
    z-index: 1;
}

.menu-opened {
    overflow: hidden;
}

.container {
    width: calc(100% - 2rem) !important;
}

.page {
    @apply flex flex-col pt-24;
}

.article {
    unicode-bidi: plaintext;
    text-align: start;
}
